    <tr>
      <td colspan="3">Tags: <%= raw atom.tag_list.map { |t| link_to t, tags_path(t)}.join(', ') %></td>
    </tr> 

    <tr>
      <td rowspan="4">Content: <%= atom.content %></td>
      <td>Quote: <%= atom.quote %></td>
      <td>Image: <%= image_tag(atom.img_url) %></td>
    </tr>

    <tr>
      <td>Quoted name: <%= atom.quoted_name %></td>
      <td>Image caption: <%= atom.img_caption %></td>
    </tr>

    <tr>
      <td>Quoted title: <%= atom.quoted_title %></td>
      <td>Image citation: <%= atom.img_citation %></td>
    </tr>

    <tr>
      <td>Quoted org: <%= atom.quoted_org %></td>
      <td>Image location: <%= atom.img_location %></td>
    </tr>  

    <tr>
      <td colspan="3"><%= link_to_unless_current "Show", { controller: "atoms", action: "show", id: atom.id } %> <%= link_to 'Edit', edit_atom_path(atom) %> <%= link_to 'Destroy', atom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>